<div class="container">
    <app-task-search-filter></app-task-search-filter>
    <mat-accordion>
        <mat-expansion-panel *ngFor="let task of taskList">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <mat-checkbox class="task-item-checkbox"></mat-checkbox>
                    <dl>
                        <dt>{{task.name}}</dt>
                        <dd>Description: {{task.description}}</dd>
                    </dl>
                </mat-panel-title>
                <mat-panel-description>
                    <span [ngSwitch]="task.status">
                        <mat-icon *ngSwitchCase="'online'"
                            style="color:green;">check_circle_icon</mat-icon>
                        <mat-icon *ngSwitchCase="'error'"
                            style="color: red;">cancel_icon</mat-icon>
                    </span>
                </mat-panel-description>
            </mat-expansion-panel-header>
            <dl>
                <dt>GENERAL INFO</dt>
                <dd> <strong>Server IP Address:</strong> {{task.server_ip}}</dd>
                <dd> <strong>Server NAT IP Address:</strong> {{task.server_nat_ip}}</dd>
            </dl>
        </mat-expansion-panel>
    </mat-accordion>
</div>