.container {

  dd {
    font-size: 12px;
    font-weight: 400;
    margin-inline-start: 0px;
    margin-top: 5px;
  }

  .mat-expansion-panel-content {
    font-weight: 400;
    font-size: 12px;
  }


}


